
body {
    background-color: rgb(4, 3, 3);
    
    
    
}
main{
    margin-left: 0px;
    margin-right: 0px;
}
h1 {
    color:rgb(251, 251, 251); 
    text-align: center; 
    background-color: rgb(70, 17, 17);
    border: none;
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

h3 {
    color:white; 
    text-align: center; 
    background-color: rgb(161, 51, 51); 
    border: 2px solid rgb(179, 84, 30);
    width: 100%;
    margin-top: 29px;
}
.navbar ul{
    list-style-type: none;
    color:rgb(251, 251, 251); 
    text-align: center; 
    background-color: rgb(70, 17, 17);
    border: 2px solid rgb(179, 84, 30);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(179, 84, 30);
}
.navbar li{
    float: left;
}
.navbar2 ul{
    list-style-type: none;
    height: 100px;
    background-color: black;
    background-image: url(img/background.jpg);
    background-position-x: 15%;
    background-position-y: 15%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.navbar2 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar2 a:hover{
    background-color: rgb(179, 84, 30);
}
.navbar2 li{
    float: left;
}

.dropdown button{
    background-color:rgb(70, 17, 17) ;
    color: white;
    padding: 10px 15px;
    border-color: rgb(179, 84, 30);
    cursor: pointer;
    
}
.dropdown button:hover{
    background-color:rgb(179, 84, 30) ;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    background-color:hsl(0, 60%, 30%) ;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 10px black;
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color:rgb(179, 84, 30) ;
}
.dropdown{
    display: inline-block;
}
.homenav{
    display:inline-block;
    position: fixed;
    margin: 10px;
    z-index: 1;
    
}
.homenav button{
    background-color: hsla(0, 0%, 100%, 0);
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
}
.homenav:hover button{
    background-color:hsla(0, 59%, 30%, 0.804) ;
}
.homenav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}
.homenav .contenthome{
    display: none;
    background-color: rgb(0, 0, 0);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(33, 32, 32);
}
.homenav:hover .contenthome{
    display: block;
}
.homenav a:hover{
    background-color:hsla(0, 59%, 30%, 0.80) ;
}